{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon" />

    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- Title -->
    <title>{% block title %} Matelog admin panel {% endblock %}</title>

    {% block css %} {% endblock %}

    <style>
        .pagination.pagination-tabs.card-pagination.pages {
            overflow-x: auto;
        }
    </style>

    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
                aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="./index.html">
                <img src="{% static 'assets/img/logo.svg' %}" class="navbar-brand-img mx-auto" alt="...">
            </a>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">

                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge input-group-reverse">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-text">
                            <span class="fe fe-search"></span>
                        </div>
                    </div>
                </form>

                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'appl_list' %}">
                            <i class="fe fe-clipboard"></i> Заявки
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'leads_list' %}">
                            <i class="fe fe-clipboard"></i> Leads
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'short_aplic_list' %}">
                            <i class="fe fe-clipboard"></i> Заявки с сайта
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#sidebarPages" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarPages">
                            <i class="fe fe-file"></i> Посты
                        </a>
                        <div class="collapse" id="sidebarPages">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'articles_list' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarPages">
                                        Посты
                                    </a>
                                    <a href="{% url 'article_ctg_list' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarPages">
                                        Категории постов
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'services' %}">
                            <i class="fe fe-grid"></i> Услуги
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'about_us' %}">
                            <i class="fe fe-book-open"></i> О Нас
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'review_list' %}">
                            <i class="fe fe-message-circle"></i> Отзывы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'contacts_list' %}">
                            <i class="fe fe-message-circle"></i> Contact aplications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#sidebarLocation" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="sidebarLocation">
                            <i class="fe fe-map-pin"></i> Локации
                        </a>
                        <div class="collapse" id="sidebarLocation">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'states_list' %}" class="nav-link" role="button" aria-expanded="false"
                                        aria-controls="sidebarLocation">
                                        Штаты
                                    </a>
                                    <a href="{% url 'city_list' %}" class="nav-link" role="button" aria-expanded="false"
                                        aria-controls="sidebarLocation">
                                        Города
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#sidebarVehicle" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="sidebarVehicle">
                            <i class="fe fe-truck"></i> Транспорт
                        </a>
                        <div class="collapse" id="sidebarVehicle">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'car_makes_list' %}" class="nav-link" role="button" aria-expanded="false"
                                        aria-controls="sidebarVehicle">
                                        Марки
                                    </a>
                                    <a href="{% url 'car_models' %}" class="nav-link" role="button" aria-expanded="false"
                                        aria-controls="sidebarVehicle">
                                        Модели
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- Divider -->
                    <hr class="navbar-divider my-3">

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#settingsPages" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarPages">
                            <i class="fe fe-settings"></i> Настройки сайта
                        </a>
                        <div class="collapse" id="settingsPages">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'static_info' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarAccount">
                                        Общие данные
                                    </a>
                                    <a href="{% url 'langs_list' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarAccount">
                                        Языки
                                    </a>
                                    <a href="{% url 'translation_list' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarAccount">
                                        Переводы
                                    </a>
                                    <a href="{% url 'admin_list' %}" class="nav-link" role="button"
                                        aria-expanded="false" aria-controls="sidebarAccount">
                                        Админы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <!-- Push content down -->
                <div class="mt-auto"></div>


                <!-- User (md) -->
                <div class="navbar-user d-none d-md-flex" id="sidebarUser">

                    <!-- Dropup -->
                    <div class="dropup">

                        <!-- Toggle -->
                        <a id="sidebarIconCopy" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'src/img/Sample_User_Icon.png' %}" class="avatar-img rounded-circle" alt="">
                            </div>
                        </a>

                        <!-- Menu -->
                        <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
                            <form id="logout-form" method="post" action="/admin-panel/logout">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Выйти</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div> <!-- / .navbar-collapse -->

        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% block form_start %} {% endblock %}
                <div {% block content_width %} {% endblock %}>
                    <!-- Header -->
                    <div class="header mb-0">
                        <div class="header-body top-scroller">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Title -->
                                    <h1 class="header-title text-truncate">
                                        {% block page_title %} {% endblock %}
                                    </h1>

                                </div>
                                {% block page_btn %} {% endblock %}
                            </div> <!-- / .row -->
                        </div>
                        <div class="card mt-4">
                            <div class="card-body" style="padding: 20px;">
                                <nav aria-label="breadcrumb">
                                    {% block nav_ol %} {% endblock %}
                                </nav>
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'src/js/dropzone.js' %}"></script>
                    {% block content %} {% endblock %}
                </div>
                {% block form_end %} {% endblock %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $('.nav-link').each((i, e) => {
                if (e.href == window.location.href) {
                    $(e).addClass('active')

                    let parent = $(e).parent().parent().parent()
                    if ($(parent).hasClass('collapse')) {
                        console.log($(parent))
                        $(parent).collapse('show')
                    }
                }
            })
        })
    </script>
    <!-- JAVASCRIPT -->
    <script src="{% static 'src/js/notify.min.js' %}"></script>
    <script src="{% static 'assets/js/new_main.js' %}"></script>
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Vendor JS -->
    <script src="{% static 'assets/js/vendor.bundle.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.bundle.js' %}"></script>

</body>

</html>