{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load str %}


{% block title %} Марка машин {% endblock %}


{% block page_title %} Добавить новую марку {% endblock %}

{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item ">
        <a href="{% url 'car_makes_list' %}">Модели автомобилей</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Добавление
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<form class="row" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="url" value="{{ request.get_full_path }}">
    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                    {% if lang == langs.first %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                            data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                            aria-selected="true">{{ lang.name }}</button>
                    </li>
                    {% else %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                            data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                            aria-selected="false">{{ lang.name }}</button>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body p-5 pt-4">
                <div class="tab-content" id="myTabContent">
                    {% for lang in langs %}
                        {% if lang == langs.first %}
                            <div class="tab-pane fade show active" id="{{ lang.code }}" role="tabpanel"
                                aria-labelledby="{{ lang.code }}">
                        {% else %}
                            <div class="tab-pane fade" id="{{ lang.code }}" role="tabpanel"
                                aria-labelledby="{{ lang.code }}">
                        {% endif %}
                            <!-- Project name -->
                            <div class="form-group">
                                <!-- Label  -->
                                <label {% if lang.default %} class="form-label required" {% else %} class="form-label"
                                    {% endif %}>
                                    Название
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="name#{{ lang.code }}" class="form-control" 
                                {% if object and object.name|get_item:lang.code %} 
                                    value="{{ object.name|get_item:lang.code }}" 
                                {% elif request_post and request_post|get_item:'name' %}
                                    value="{{ request_post|get_item:'name'|get_item:lang.code }}" 
                                {% endif %}>
                                {% if lang.default %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% if name_error %}
                                    {{ name_error }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <!-- Label  -->
                            <label class="form-label required">
                                Марка
                            </label>
                            <br>
                            <!-- Input -->
                            <select class="form-select mb-3" name="mark" data-choices required>
                                <option value="">-----</option>
                                {% for mark in marks %}
                                    {% if object and object.mark == mark %}
                                        <option value="{{ mark.id }}" selected>{{ mark.name|get_item:lang.code }}</option>
                                    {% elif request_post and request_post|get_item:'mark' == mark.id|to_string %}
                                        <option value="{{ mark.id }}" selected>{{ mark.name|get_item:lang.code }}</option>
                                    {% else %}
                                        <option value="{{ mark.id }}">{{ mark.name|get_item:lang.code }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback" style="display: block;">
                                {% if mark_error %}
                                {{ mark_error }}
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <!-- Label  -->
                            <label class="form-label required">
                                Тип транспорта
                            </label>
                            <br>
                            <!-- Input -->
                            <select class="form-select mb-3" name="vehicle_type" required>
                                <option value="">-----</option>
                                {% for veh in veh_types %}
                                    {% if object and object.vehicle_type == veh %}
                                        <option value="{{ veh }}" selected>{{ veh }}</option>
                                    {% elif request_post and request_post|get_item:'vehicle_type' == veh %}
                                        <option value="{{ veh }}" selected>{{ veh }}</option>
                                    {% else %}
                                        <option value="{{ veh }}">{{ veh }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback" style="display: block;">
                                {% if mark_error %}
                                {{ mark_error }}
                                {% endif %}
                            </div>
                        </div>
                        

                        <div class="btn-box text-end">
                            <a href="{{ request.get_full_path }}" class="btn btn-secondary">
                                Отменить
                            </a>
                            <button type="submit" class="btn w-60 btn-primary">
                                Сохранить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Form -->



<!-- JAVASCRIPT -->
<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }
</script>

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}