<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}

            <div style="display: flex; gap: 50px;">
                <div class="form_group">
                    <label for="">Fill Cities</label><br>

                    <input type="submit" name="CITY">
                    <input type="submit" name="CITY2">
                    <input type="submit" name="CITY3">
                    <input type="submit" name="CITY4">
                    <input type="submit" name="CITY5">
                    <input type="submit" name="CITY6">
                    <input type="submit" name="CITY7">
                    <input type="submit" name="CITY8">
                    <input type="submit" name="CITY9">
                    <input type="submit" name="CITY10">
                    <input type="submit" name="CITY11">
                    <input type="submit" name="CITY12">
                    <input type="submit" name="CITY13">
                    <input type="submit" name="CITY14">
                    <input type="submit" name="CITY15">
                    <input type="submit" name="CITY16">
                    <input type="submit" name="CITY17">
                    <input type="submit" name="CITY18">
                    <input type="submit" name="CITY19">
                </div>
                <div class="form_group">
                    <label for="">Fill States</label><br>
                    <input type="submit" name="STATES">
                </div>
            </div>

        </form>
    </div>
</body>
</html>